<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Bienvenido, {{user_information.name}}</h1>
            <p>Aquí puedes gestionar los videos, banners, usuarios y la programación automática de contenido.</p>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <i class="fa-solid fa-spinner fa-spin fa-2xl mb-4" *ngIf="loading"></i>
                    <h2 *ngIf="!loading">{{ (countVT + countVBL) }}</h2>
                    <p>Videos Subidos</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <i class="fa-solid fa-spinner fa-spin fa-2xl mb-4" *ngIf="loading"></i>
                    <h2 *ngIf="!loading">{{ (countVBL + countBT) }}</h2>
                    <p>Banners Subidos</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <i class="fa-solid fa-spinner fa-spin fa-2xl mb-4" *ngIf="loading"></i>
                    <h2 *ngIf="!loading">{{ dataSchedule.length }}</h2>
                    <p>Presentaciones Programadas</p>
                </div>
            </div>
        </div>
    </div>
</div>