<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active mr-5" aria-current="page" href="/admin">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5" href="/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-5" href="/usuarios">Usuarios</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-end">
            <button class="btn btn-outline-light" (click)="logout()" [disabled]="activeButton">Cerrar Sesión</button>
        </div>
    </div>
</nav>